@import "tailwindcss";

:root {
  --background: #367070;
  --foreground: #e6efdc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #367070;
  --color-white: #e6efdc;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-archivo-black);
  --font-title: var(--font-sunstream);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
